# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Data science languages
- Data science libraries
- Data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. seaborn

| Data Science Tools| 
|:-----------------:|
| Jupyter Notebooks |  
|  Rstudio          |  
|  Anaconda         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
 #This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(f"{minutes} minutes = {hours} hours")

200 minutes = 3.3333333333333335 hours

## Author
Cole Kuhlers